.expense {
  margin: 3rem auto;
  margin-top: 80px;
  padding: 1rem;
  width: 95%;
  max-width: 25rem;
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.expense h1 {
  color: black;
}

.control {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  color: black;
  background-color: #f1e1fc;
  padding: 0.25rem;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
}
.control select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  background-color: #f1e1fc;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #1883e8;
  border: 1px solid #1883e8;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #055fb3;
  border-color: #055fb3;
}

.expensesList {
  list-style: none;
  padding: 0;
}

.expenseslistFallback {
  color: rgb(157, 85, 27);
  text-align: center;
}

.csvDownload {
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;
  border: 10px;
  border-color: black;
}
