.expense-item {
  display: flex;
  color: rgb(155, 71, 71);
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #f2c94f;
}

.expense-item button {
  font-weight: bold;
  padding: 0.2rem;
  border-radius: 8px;
  background-color: antiquewhite;
}
