.profile {
  padding: 1rem;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.profile header {
  display: flex;
  justify-content: space-between;
}
.profile form {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.profile button {
  color: white;
  font-size: 1rem;
  background-color: rgb(112, 15, 161);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}
.user {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
